*{
    --secondary-bg-clr:#2196f3;
}

.btn-div {
    align-self: flex-end;
    margin: 16px;

}

.btn {
    border-radius: 72px;
    padding: 2px 14px;
    font-size: 2em;

    background-color: var(--secondary-bg-clr);
    color: white;
    border: 0px;
}