*{
    --secondary-bg-clr:#2196f3;
}

.item{
    border: 1px solid #0d47a1;
    height: 24px;
    width: 20vw;
    display: flex;
    gap: 8px;
    margin: 8px;
    border-radius: 24px;
    padding: 12px;
    justify-content: center;

    background-color: var(--secondary-bg-clr);
    opacity: .6;
}

.name{
    background-color: var(--secondary-bg-clr);
    border: none;
    color: white;
    outline: none;
    font: bolder;
}
.name::placeholder{
    color: #bbdefb;
}
.selected{
    opacity: 1;
}